/* Reset some default styles and add basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    
}
#about h2{
    background-color: #3DBBFF;
    color: #fff;
}
#about div{
    display: flex;
    /* grid-auto-columns: 50px; */
    padding: 10px;

}
#about div article{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
#about div p img {
    height: 100%; 
    width: 100%; 
    object-fit: 'contain';
}
#about div .textp{
    margin: 10px 0;
    font-family: "Roboto Mono";
    /* width: 100%;
    height: 50%; */
    /* padding: 30px; */
}
#about div .prev{
    background-color: #3DBBFF;
    width: 100%;
    height: 30px;;
    color: #fff; 
}
#about div p{
 font-family:"Roboto Mono";
}

#header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #3DBBFF;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.lang ul {
    list-style: none;
}
.lang li {
    display: inline;
    margin: 0 5px;
}

.lang li img{
    margin-bottom: -5px;
    height:20px;
    width: 20px;
    object-fit: contain;
}
.lang a{
    color: #fff;
    text-decoration: none;
}
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
}
#portfolio  h2{
    background-color: #3DBBFF;
    color: #fff;
}
/* .project {
    text-align: center;
} */
#portfolio .project .project-item {
    display: flex;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.project > .project-item{
    font-family:"Roboto";
}
#portfolio .project .project-item p{
    font-family: 'Roboto', sans-serif;
}
#portfolio .project p > .scribd{
    margin-top: 5px;
    width:5px;
}
#portfolio .project > .project-item  h4{
    margin: 15px 0;
    
}
#interest h2{
    background-color: #3DBBFF;
    color: #fff;
}
#contact h2{
    background-color: #3DBBFF;
    color: #fff;
}

.project img {
    margin-bottom: -10px;
    height:30px;
    width: 30px;
    object-fit: contain;
}
#contact p{
    padding: 10px;
    font-family:"Roboto";
}
#contact article {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.networks span a img{
    margin-top: 10px;
    /* border: 1px solid red; */
    height:30px;
    width: 30px;
    object-fit: contain;
    
}

@media screen and (max-width: 800px) {
    
    #about div {
        display: flex;
        flex-wrap: wrap;
     } 
     #contact article {
        display: flex;
        flex-wrap: wrap;
    }
     #contact article p {
        width: 100%;
    }
   
}
  